header .logo {
    position: relative;
    width: 250px;
    background-color: #fff;
       
}
header .logo img {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 60px;
    margin-top: 40px;
    margin-left: 65px;
    display: flex;
    justify-content: space-between;
}

 